<div class="panel panel-default">
	<table class="table table-condensed table-striped table-bordered table-responsive">
		<caption>
			<i class="tbl-title">Diagram Repository</i> <i class="tbl-actions"><a ui-sref="entityAdd({p1:'data',p2:'diagrams'})"
				class="btn btn-primary btn-sm">Add New</a></i>
		</caption>
		<thead>
			<tr>
				<th>Filename</th>
				<th>Diagram</th>
				<th class="col-sm-2 row-actions">Row Actions</th>
			</tr>
		</thead>
		<tr ng-repeat="entity in entities">
			<td>{{entity.filename}}</td>
			<td><img src="/editor/diagramExport/{{entity.id}}" alt="No image"></td>
			<td class="row-actions">
				<div class="btn-group">
					<a class="btn btn-primary btn-xs" href="/editor/diagram/{{entity.id}}">View</a> <a
						class="btn btn-danger btn-xs" ng-click="entityDelete(entity)" confirm-click="">Delete</a>
				</div>
			</td>
		</tr>
	</table>
</div>
