<div class="panel panel-default">
	<table class="form table table-borderless">
		<caption>Issuer Details</caption>
		<tr>
			<td class="col-sm-2"><label for="name">Name:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.name" class="form-control"
				id="name" placeholder="Name" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="apiUsername">API Username:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.apiUsername"
				class="form-control" id="apiUsername" placeholder="API Username" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="apiPassword">API Password:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.apiPassword"
				class="form-control" id="apiPassword" placeholder="API Password" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="aw2CheckName">A2W Check Name:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.aw2CheckName"
				class="form-control" id="aw2CheckName" placeholder="A2W Check Name" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="a2wCheckStatus">A2W Check Status:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.a2wCheckStatus"
				class="form-control" id="a2wCheckStatus" placeholder="A2W Check Status" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="a2wSendTrxn">A2W Send Trxn:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.a2wSendTrxn"
				class="form-control" id="a2wSendTrxn" placeholder="A2W Send Trxn" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="w2aCallback">W2A Callback</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.w2aCallback"
				class="form-control" id="w2aCallback" placeholder="W2A Callback" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="whitelist">White List:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.whitelist" class="form-control"
				id="whitelist" placeholder="White List" /></td>
		</tr>
		<tr>
			<td colspan="2" class="bottom-controls"><input type="submit" class="btn btn-primary btn-sm"
				value="Save" /></td>
		</tr>
	</table>
</div>