<div class="panel panel-default">
	<table class="table table-condensed form table-borderless">
		<caption>
			Details for <b>{{entity.name}}</b></select>
		</caption>
		<tr>
			<td class="col-sm-2">Name:</td>
			<td class="col-sm-10">{{entity.name}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">API Username:</td>
			<td class="col-sm-10">{{entity.apiUsername}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">API Password:</td>
			<td class="col-sm-10">{{entity.apiPassword}}</td>
		</tr>		
		<tr>
			<td class="col-sm-2">A2W Check Name:</td>
			<td class="col-sm-10">{{entity.a2wCheckName}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">A2W Check Status:</td>
			<td class="col-sm-10">{{entity.a2wCheckStatus}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">A2W Send Trxn:</td>
			<td class="col-sm-10">{{entity.a2wSendTrxn}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">W2A Callback:</td>
			<td class="col-sm-10">{{entity.w2aCallback}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">White List:</td>
			<td class="col-sm-10">{{entity.whitelist}}</td>
		</tr>
		<tr>
			<td colspan="2" class="bottom-controls">
				<div>
					<a class="btn btn-primary btn-sm" ui-sref="entityEdit({id:entity.id, p1:'data',p2:'issuers'})">Edit</a>
				</div>
			</td>
		</tr>
	</table>
</div>
