<header th:fragment="header" id="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" data-ui-sref="movies">Survey Tool</a>
			</div>
			<div class="collapse navbar-collapse">
				<div class="navbar-right user">
					<table class="table table-condensed">
						<caption>Logged in as: </caption>
						<tr><td>User name: </td><td><span sec:authentication="name">Bob</span></td></tr>
						<tr><td>User role: </td><td><span sec:authentication="principal.authorities">[ROLE_ADMIN]</span></td></tr>
					</table>
				</div>
			</div>
		</div>
	</nav>
</header>