<div class="panel panel-default">
	<table class="table table-condensed form table-borderless">
		<caption>
			Details for <b>{{entity.name}}</b>
		</caption>
		<tr>
			<td class="col-sm-2">Project:</td>
			<td class="col-sm-10">{{entity.project.name}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">Name:</td>
			<td class="col-sm-10">{{entity.name}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">Description:</td>
			<td class="col-sm-10">{{entity.description}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">File path:</td>
			<td class="col-sm-10">{{entity.filepath}} <br/><a class="download" data-ng-href="/survey/repos/{{entity.id}}"><img alt="" src="/img/download_icon.png"/> Download</a></td>
		</tr>
		<tr>
			<td class="col-sm-2">Version:</td>
			<td class="col-sm-10">{{entity.version}}</td>
		</tr>
		<tr>
			<td colspan="2" class="bottom-controls">
				<div>
					<a class="btn btn-primary btn-sm"
						data-ui-sref="entityEdit({id:entity.id, p1:'data',p2:'formrepos'})">Edit</a>
				</div>
			</td>
		</tr>
	</table>
</div>
