<div class="panel panel-default">
	<table class="form table table-borderless">
		<caption>Project Details</caption>
		<tr>
			<td class="col-sm-2"><label for="name">Name:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.name" class="form-control"
				id="name" placeholder="Name" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="status">Status:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.status"
				class="form-control" id="status" placeholder="Status: Active, OnHold, Terminated" /></td>
		</tr>
		<tr>
			<td colspan="2" class="bottom-controls"><input type="submit" class="btn btn-primary btn-sm"
				value="Save" /></td>
		</tr>
	</table>
</div>