<div class="panel panel-default">
	<table class="form table table-borderless">
		<caption>Service Details</caption>
		<tr>
			<td class="col-sm-2"><label for="name">Name:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.name" class="form-control"
				id="name" placeholder="Name" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="status">Status:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.status" class="form-control"
				id="status" placeholder="Status" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="description">Description:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.description"
				class="form-control" id="description" placeholder="Description" /></td>
		</tr>
		<tr>
			<td><label for="issuer">Issuer:</label></td>
			<td><select data-ng-options="e.name for e in issuerOptions track by e.id"
				class="form-control" id="issuer" data-ng-model="entity.issuer">
			</select></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="serviceCode">Service Code:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.serviceCode"
				class="form-control" id="serviceCode" placeholder="Service Code" /></td>
		</tr>
		<tr>
			<td><label for="partner">Partner:</label></td>
			<td><select data-ng-options="p.name for p in partnerOptions track by p.id"
				class="form-control" id="partner" data-ng-model="entity.partner">
			</select></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="integrationMode">Integration Mode:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.integrationMode"
				class="form-control" id="integrationMode" placeholder="Integration Mode" /></td>
		</tr>
		<tr>
			<td class="col-sm-2"><label for="whitelist">White List:</label></td>
			<td class="col-sm-10"><input type="text" data-ng-model="entity.whitelist"
				class="form-control" id="whitelist" placeholder="White List" /></td>
		</tr>
		<tr>
			<td colspan="2" class="bottom-controls"><input type="submit" class="btn btn-primary btn-sm"
				value="Save" /></td>
		</tr>
	</table>
</div>