<div class="panel panel-default">
	<table class="table table-condensed table-striped table-bordered table-responsive">
		<caption>
			<i class="tbl-title">All Users</i> <i class="tbl-actions"><a
				data-ui-sref="entityAdd({p1:'data',p2:'users'})" class="btn btn-primary btn-sm">Add New User</a></i>
		</caption>
		<thead>
			<tr>
				<th>Username</th>
				<th>Email Address</th>
				<th>Role</th>
				<th class="col-sm-2 row-actions">Row Actions</th>
			</tr>
		</thead>
		<tr ng-repeat="entity in entities">
			<td>{{entity.username}}</td>
			<td>{{entity.email}}</td>
			<td>{{entity.role.name}}</td>
			<td class="row-actions">
				<div class="btn-group">
					<a class="btn btn-primary btn-xs" ui-sref="entityView({id:entity.id, p1:'data',p2:'users'})">View</a>
					<a class="btn btn-danger btn-xs" ng-click="entityDelete(entity)" confirm-click="">Delete</a>
				</div>
			</td>
		</tr>
	</table>
</div>
