
body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	background-color: #F0F0F0;
	background: url("img/bg-pattern.png"), #F0F0F0;
	background: url("img/bg-pattern.png"),
		-webkit-linear-gradient(to left, #F0F0F0, #F0F0F0);
	background: url("img/bg-pattern.png"),
		linear-gradient(to left, #F0F0F0, #F0F0F0);
}


#main-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100%;
}

#mainNav > header > nav > div > div.collapse.navbar-collapse > div {
	border: 0px solid #F0F0F0;
	border-radius: 3px;
	background: #33CC33;
}
#mainNav > header > nav > div > div.collapse.navbar-collapse > div > table > caption {
	color: #3333CC;
	font-weight: 200;
}
#header > nav > div > div.navbar-header > a.navbar-brand {
	font-size: 24px;
	font-weight: 400;
}

article {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-top: 64px;
}

#mainNav {
	margin: 0;
	clear: both;
}

#mainNav>header>nav {
	margin: 0;
}

.site-content {
	width: 100%;
	overflow-y: hidden;
	background: url("img/bg-pattern.png"), #F0F0F0;
	background: url("img/bg-pattern.png"),
		-webkit-linear-gradient(to left, #F0F0F0, #F0F0F0);
	background: url("img/bg-pattern.png"),
		linear-gradient(to left, #F0F0F0, #F0F0F0);
}

.site-content .row {
	margin: 0;
}

.site-content .panel {
	background: #F0F0F0;
	color: #333333;
}

.site-content .btn {
	text-transform: capitalize;
	border-radius: 5px;
}

body>div.container {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
header {
	border-bottom: 5px solid #CCCCCC;
}

#mainview {
	padding: 10px;
}

#mainview .panel div.home {
	padding: 0 10px;
}

#mainview div.panel.panel-default {
	padding: 0px 0px;
}

.user {
	padding: 0px 4.5px;
}

.user table.table {
	border: none;
	margin: 0;
}

.user table.table caption {
	padding: 0;
	color: #333333;
}

.user table.table tr td {
	border: none;
	padding: 0 10px 0 0;
	font-size: 72%;
}

.user table.table tr td:FIRST-CHILD {
	text-align: right;
	font-weight: bold;
	padding-left: 2px;
}

.table>caption>i {
	font-style: normal;
}

.table>caption>i.tbl-title {
	display: inline;
}

.table>caption>i.tbl-actions {
	display: inline-block;
	float: right;
}

.table>thead>tr {
	background: #333;
	color: #F0F0F0;
}

.table td.row-actions div {
	display: inline-block;
	float: right;
}

.table th.row-actions {
	text-align: right;
}

.table td.data-nowrap {
	white-space: nowrap;
}

.main {
	padding: 10px 10px 0 10px;
}

#loginform {
	width: 400px;
	margin: 10% auto;
	padding: 0px;
	border: 1px solid #d3d7cf;
	border-radius: 5px;
	padding-bottom: 15px;
	background: #F0F0F0;
}

#loginform  fieldset .fields{
	padding: 0 20px;
}

#loginform .loginmessage {
	padding: 2px;
	font-style: italic;
	margin: 5px 2px;
}

#loginform form fieldset legend {
	color: #000000;
	text-align: left;
	font-family: "SIMPSON";
	padding: 5px;
	background: #428bca;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#loginform form label {
	width: 100px;
	padding: 0 5px;
	margin: 0;
}

#loginform form input {
	border: 1px solid #CCCCCC;
	background: #F0F0F0;
	padding: 5px 10px;
	margin: 0 10px 10px 5px ;
	width: calc(100% - 20px);
	border-radius: 3px;
	background: #F0F0F0;
}

#loginform form .form-actions {
	padding: 5px;
	margin: 10px;
}

#loginform form .form-actions button#btnsubmit {
	display: inline-block;
	float: right;
	border: none;
	font-weight: 200;
}

.user {
	display: inline;
}

#footer {
	width: 100%;
	clear: both;
	border-top: 5px solid #CCCCCC;
	text-align: center;
}

/** Side bar **/
#sidebar {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 0 0px 0 0px;
	padding: 0;
	background: #F6F6F6;
}

nav.nav-sidebar {
	padding: 0;
}

nav.nav-sidebar li.active>a, nav.nav-sidebar li.active>div.logout {
	border-radius: 0;
}

nav.sidebar, .main {
	-webkit-transition: margin 200ms ease-out;
	-moz-transition: margin 200ms ease-out;
	-o-transition: margin 200ms ease-out;
	transition: margin 200ms ease-out;
}

.nav .nav-divider {
	height: 1px;
	margin: 0px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}

.nav .nav-divider.top {
	margin-top: 0;
}

.nav .nav-divider.bottom {
	margin-bottom: 0;
}

.nav-sidebar li a {
	border-radius: 0;
	padding: 8px 15px;
}

.nav-sidebar {
	width: 100%;
	padding: 8px 2px;
	border: none;
}

.nav-sidebar a, .nav-sidebar div.logout {
	color: #333;
	-webkit-transition: all 0.08s linear;
	-moz-transition: all 0.08s linear;
	-o-transition: all 0.08s linear;
	transition: all 0.08s linear;
	-webkit-border-radius: 0px 0 0 0px;
	-moz-border-radius: 0px 0 0 0px;
	border-radius: 0px 0 0 0px;
	font-weight: bold;
}

.nav-sidebar .active a, .nav-sidebar .active div.logout {
	cursor: default;
	background-color: #428bca;
	color: #fff;
	text-shadow: 1px 1px 1px #666;
}

.nav-sidebar a {
	cursor: default;
	margin: 2px 2px;
}

.nav-sidebar .active a:hover, .nav-sidebar .active div.logout {
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover, .nav>li>div.logout:focus, .nav>li>div.logout:hover
	{
	text-decoration: none;
	background-color: #428bca;
	color: #fff;
}

.nav-sidebar .text-overflow a, .nav-sidebar .text-overflow .media-body {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.nav-sidebar div.logout button {
	border: none;
	background: transparent;
	padding: 5px 15px;
}

.nav-sidebar div.logout {
	margin: 2px 2px;
}

/** Views */
table.form caption, table.confirm caption {
	border-bottom: 1px solid silver;
	padding-left: 10px;
}

table.form td:FIRST-CHILD {
	text-align: right;
	font-weight: bolder;
}

.table.table-borderless>tbody>td, .table.table-borderless>thead>th,
	.table.table-borderless>tbody>tr {
	border: 0;
}

.table.table-borderless>tbody>tr>td, .table.table-borderless>tbody>tr>th,
	.table.table-borderless>tfoot>tr>td, .table.table-borderless>tfoot>tr>th,
	.table.table-borderless>thead>tr>td, .table.table-borderless>thead>tr>th
	{
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 0px solid #ddd;
}

.panel>.panel-collapse>.table caption, .panel>.table caption, .panel>.table-responsive>.table caption
	{
	padding: 5px;
}

td.bottom-controls {
	text-align: right;
}

#mainview div>a, #mainview .btn, .confirmcontrols button {
	min-width: 5em;
}

div#canvas {
	height: 600px;
	width: 800px;
}

/* Checklist Angular */
label.checklist {
	display: block;
}
div.checklist-controls{
	padding-top: 10px;
}


