<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=5,IE=9" ><![endif]-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Flowchart Maker &amp; Online Diagram Software</title>
<link rel="chrome-webstore-item"
	href="https://chrome.google.com/webstore/detail/plgmlhohecdddhbmmkncjdmlhcmaachm" />
<link rel="apple-touch-icon" sizes="180x180" th:href="@{drawio/images/apple-touch-icon.png}" />
<link rel="icon" type="image/png" sizes="32x32" th:href="@{drawio/images/favicon-32x32.png}" />
<link rel="icon" type="image/png" sizes="16x16" th:href="@{drawio/images/favicon-16x16.png}" />
<link rel="mask-icon" th:href="@{drawio/images/safari-pinned-tab.svg}" />
<link rel="stylesheet" type="text/css" th:href="@{drawio/styles/grapheditor.css}" />
<link rel="canonical" href="https://www.draw.io" />
<link rel="manifest" th:href="@{drawio/images/manifest.json}" />
<link rel="stylesheet" type="text/css" th:href="@{drawio/styles/drawio.css}" />
<script type="text/javascript" th:src="@{drawio/js/drawio.js}"></script>
<script type="text/javascript" th:src="@{drawio/js/app.min.js}"></script>
</head>
<body class="geEditor">
	<div id="geInfo">
		<div class="geBlock" style="text-align: center; min-width: 50%;">
			<h1>Flowchart Maker and Online Diagram Software</h1>
			<p>draw.io (formerly Diagramly) is free online diagram software. You can use it as a
				flowchart maker, network diagram software, to create UML online, as an ER diagram tool, to
				design database schema, to build BPMN online, as a circuit diagram maker, and more. draw.io can
				import .vsdx, Gliffy&trade; and Lucidchart&trade; files .</p>
			<h2 id="geStatus">Loading...</h2>
			<p>Please ensure JavaScript is enabled</p>
		</div>
	</div>
	<div id="geFooter" style="visibility: hidden; overflow: hidden; margin-right: 170px;">
		<div class="geSocialFooter" style="position: absolute; right: 32px; white-space: nowrap;">
			<a href="https://plus.google.com/u/0/+DrawIo1/posts" title="draw.io on Google+" target="_blank">
				<img border="0" width="24" height="24" th:src="@{drawio/images/glyphicons_google.png}"
				alt="draw.io on Google+" />
			</a> &nbsp; <a href="https://www.facebook.com/pages/drawio/161015263923018"
				title="draw.io on Facebook" target="_blank"> <img border="0" width="24" height="24"
				th:src="@{drawio/images/glyphicons_facebook.png}" alt="draw.io on Facebook" />
			</a> &nbsp; <a href="https://www.twitter.com/drawio" title="draw.io on Twitter" target="_blank">
				<img border="0" width="24" height="24" th:src="@{drawio/images/glyphicons_twitter.png}"
				alt="draw.io on Twitter" />
			</a> &nbsp; <a href="https://github.com/jgraph/draw.io" title="draw.io on GitHub" target="_blank">
				<img border="0" width="24" height="24" th:src="@{drawio/images/glyphicons_github.png}"
				alt="draw.io on GitHub" />
			</a>
		</div>
		<table align="center">
			<tr>
				<td id="geFooterItem2"><a title="HTML5 JavaScript Diagramming" target="_blank"
					href="https://github.com/jgraph/draw.io"> <img border="0" align="absmiddle"
						style="margin-top: -2px; padding-right: 14px;" th:src="@{drawio/images/glyphicons_github.png}" />Fork us
						on GitHub
				</a></td>
				<td id="geFooterItem1"><a id="geFooterLink1" title="#1 Rated Confluence Add-on"
					target="_blank"
					href="https://marketplace.atlassian.com/plugins/com.mxgraph.confluence.plugins.diagramly/server/overview">
						<img border="0" width="27" height="24" align="absmiddle" style="padding-right: 16px;"
						th:src="@{drawio/images/logo-confluence.png}" />#1 Rated Confluence Add-on
				</a></td>
			</tr>
		</table>
	</div>
</body>
</html>
