<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	data-ng-app="MfsApisApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
<title>AngularJS Task Manager</title>
<link th:href='@{/css/style.css}' rel="stylesheet" type="text/css" />
<link th:href='@{/css/font-awesome.min.css}' rel="stylesheet" type="text/css" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/angular.js}"></script>
<script th:src="@{/js/angular-animate.js}"></script>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</head>
<body>
	<div data-ng-controller="roleController">
		<h2 class="page-title">MFS Gateway</h2>
		<div id="task-panel" class="fadein fadeout showpanel panel" data-ng-show="toggle">
			<div class="panel-heading">
				<i class="panel-title-icon fa fa-tasks"></i> <span class="panel-title">User Roles</span>
				<div class="panel-heading-controls">
					<button data-ng-click="toggle = !toggle" class="btn-panel">Add New Role</button>
					<button class="btn-panel" data-confirmed-click="deleteSelected()"
						data-ng-confirm-click="Would you like todelete selected roles?">Clear selected roles</button>
				</div>
			</div>
			<div class="panel-body">
				<div class="entity" data-ng-repeat="role in roles">
					<div class="action-checkbox">
						<div class="entity-info">
							<input id="{{role.id}}" type="checkbox" value="{{role.id}}"
								data-ng-click="toggleSelection(role.id)" /> <label for="{{role.id}}"
								data-ng-bind="role.name"></label>
						</div>
						<div class="entity-controls">
							<button class="btn-panel" data-confirmed-click="edit()">Edit</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="add-entity-panel" class="fadein fadeout addpanel panel" data-ng-hide="toggle">
			<div class="panel-heading">
				<i class="panel-title-icon fa fa-plus"></i> <span class="panel-title">Add Role</span>
				<div class="panel-heading-controls">
					<button data-ng-click="toggle = !toggle" class="btn-panel">Show All Roles</button>
				</div>
			</div>
			<div class="panel-body">
				<div class="form">
					<table class="add-entity">
						<tr>
							<td>Name:</td>
							<td><input type="text" data-ng-model="name" /></td>
						</tr>
						<tr>
							<td>Description:</td>
							<td><input type="text" data-ng-model="description" /></td>
						</tr>
						<tr>
							<td><br />
								<button data-ng-click="addRole()" class="btn-panel-big">Add New Role</button></td>
						</tr>
					</table>
					<input type="text" data-ng-model="id" style="display: none;" />
				</div>
			</div>
		</div>
		<div id="edit-entity-panel" class="fadein fadeout editpanel panel" data-ng-hide="toggle">
			<div class="panel-heading">
				<i class="panel-title-icon fa fa-plus"></i> <span class="panel-title">Edit Role</span>
				<div class="panel-heading-controls">
					<button data-ng-click="toggle = !toggle" class="btn-panel">Show All Roles</button>
				</div>
			</div>
			<div class="panel-body">
				<div class="form">
					<table class="edit-entity">
						<tr>
							<td>Name:</td>
							<td><input type="text" data-ng-model="name" /></td>
						</tr>
						<tr>
							<td>Description:</td>
							<td><input type="text" data-ng-model="description" /></td>
						</tr>
						<tr>
							<td><br />
								<button data-ng-click="addRole()" class="btn-panel-big">Add New Role</button></td>
						</tr>
					</table>
					<input type="text" data-ng-model="id" style="display: none;" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>