<div class="panel panel-default">
	<table class="table table-condensed table-striped table-bordered table-responsive">
		<caption>
			<i class="tbl-title">Form instances</i> <i class="tbl-actions"></i>
		</caption>
		<thead>
			<tr>
				<th>Project</th>
				<th>Form instance</th>
				<th>Repository</th>
				<th>Repos Version</th>
				<th>Repos Path</th>
				<th>Captured By</th>
				<th class="col-sm-2 row-actions">Row Actions</th>
			</tr>
		</thead>
		<tr data-ng-repeat="entity in entities">
			<td class="data-nowrap">{{entity.formRepos.project.name}}</td>
			<td class="data-nowrap">{{entity.name}}</td>
			<td class="data-nowrap">{{entity.formRepos.name}}</td>
			<td class="data-nowrap">{{entity.reposVersion}}</td>
			<td class="data-nowrap">{{entity.reposPath}}</td>
			<td class="data-nowrap">{{entity.capturedBy.username}}</td>
			<td class="row-actions">
				<div class="btn-group">
					<a class="btn btn-primary btn-xs" data-ui-sref="entityView({id:entity.id, p1:'data',p2:'forms'})">View</a>
					<a class="btn btn-danger btn-xs" data-ng-click="entityDelete(entity)" data-confirm-click="">Delete</a>
				</div>
			</td>
		</tr>
		
	</table>
</div>
