<div class="panel panel-default">
	<table class="table table-condensed form table-borderless">
		<caption>
			Details for <b>{{entity.name}}</b>
		</caption>
		<tr>
			<td class="col-sm-2">Project:</td>
			<td class="col-sm-10">{{entity.formRepos.project.name}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">Repository:</td>
			<td class="col-sm-10">{{entity.formRepos.name}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">Form Instance:</td>
			<td class="col-sm-10">{{entity.name}}</td>
		</tr>
		<tr>
			<td class="col-sm-2">Captured By:</td>
			<td class="col-sm-10">{{entity.capturedBy.username}}</td>
		</tr>
		<tr>
			<td colspan="2">
				<table id="formdatalist">
					<caption>Form data fields</caption>
					<tr>
						<th>Field</th>
						<th>Value</th>
						<th>Type</th>
					</tr>
					<tr data-ng-repeat="data in entity.dataList"
						data-ng-class="{GRP:'group', '':'input'}[data.datatype]">
						<td>{{data.metadata}}</td>
						<td>{{data.rawvalue}}
							<div data-ng-if="data.datatype == 'INPVID'">
								<video width="320" height="240" controls>
									<source data-ng-src="/survey/media/{{data.id}}" type="video/mp4" />
								</video>
							</div>
							<div data-ng-if="data.datatype == 'INPPIC'">
								<img data-ng-src="/survey/media/{{data.id}}" alt="" height="240" width="320"/>
							</div>
						</td>
						<td>{{data.datatype}}</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="1" class="bottom-controls">
				<div>
					<a class="btn btn-primary btn-sm" data-ng-href="/survey/zip/{{entity.id}}">Download the form</a>
				</div>
			</td>
			<td colspan="1" class="bottom-controls">
				<div>
					<a class="btn btn-primary btn-sm" data-ui-sref="formList()">Back to list</a>
				</div>
			</td>
		</tr>
	</table>
</div>
